@using WebMatrix.Data;
@{
    string connectionString = @"Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AutoDB.mdf;Integrated Security=True";

    string provider = "System.Data.SqlClient";

    Database db = Database.OpenConnectionString(connectionString, provider);

    var brand = db.Query("SELECT TOP 10 Id, Photo, Name, Niveau FROM Brand ORDER BY newid() ");
    var antwoord1 = db.Query("SELECT TOP 3 Id, Photo, Name, Niveau FROM Brand ORDER BY newid()");
    var antwoord2 = db.Query("SELECT TOP 1 Id, Photo, Name, Niveau FROM Brand ORDER BY newid()");
    var antwoord3 = db.Query("SELECT TOP 1 Id, Photo, Name, Niveau FROM Brand ORDER BY newid()");
    var antwoord4 = db.Query("SELECT TOP 1 Id, Photo, Name, Niveau FROM Brand ORDER BY newid()");
    // var car = db.Query("SELECT Id, Brand, Type, Photo, Niveau FROM Brand");
    //  var type = db.Query("SELECT Id, Photo, Niveau FROM Brand");

    List<string> autoLijst = new List<string>();
    List<string> antwoorden = new List<string>();
    Session["sessielijst"] = autoLijst;
    Session["vraag 1"] =
    Session["antwoordenlijst"] = antwoorden;

    var lijst = Session["sessielijst"];


}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!------<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/Quiz.js"></script> ---------->
<link rel="stylesheet" type="text/css" href="~/Content/Quiz.css" />
<!------ Include the above in your HEAD tag ---------->



       


<div class="container-fluid bg-info">
    <div class="modal-dialog">

        <tr>
            <th>Wat voor auto is dit?</th>
        </tr>
        <table>

            @foreach (var item in brand)
            {

                @item.Name;
                <br>
                <img src="@item.Photo;" height="250" width="250">
                <br>

                //autoLijst.Add(item.Name);
                foreach (var item1 in antwoord1)
                {
                <form>

                    <input type="radio" name="antwoordgegeven" value="@item1.Name;"> @item1.Name;<br>

                </form>

                }
            }
                @foreach (var auto in autoLijst)
                {
                    Response.Write("Value: " + auto + "<br/>");

                }
                @*@{autoLijst = (List<string>)Session["sessielijst"];}*@

                @for (int i = 0; i < Session.Count; i++)
                {
                    var crntSession = Session.Keys[i];
                    Response.Write(string.Concat(crntSession, "=", Session[crntSession]) + "<br />");
                }



            </table>
        <div class="modal-content">
            <div class="modal-header">
                <img src="~/Images/Brands/Vw_Logo.png" height="250" width="250" alt="VW Logo">
                <h3><span class="label label-warning" id="qid">2</span>Antwoord 3 is het goede antwoord.</h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>
                <form method="post" action="~/IngevuldeAntwoorden.cshtml">
                    @foreach (var item1 in antwoord1)
                    {

                        <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="@item1.Name">@item1.Name</label>
                        </div>

                    }
                    @foreach (var item2 in antwoord2)
                    {

                        <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="@item2.Name">@item2.Name</label>
                        </div>

                    }
                    @foreach (var item3 in antwoord3)
                    {

                        <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="@item3.Name">@item3.Name</label>
                        </div>

                    }
                    @foreach (var item4 in antwoord4)
                    {

                        <div class="quiz" id="quiz" data-toggle="buttons">
                            <label class="element-animation1 btn btn-lg btn-primary btn-block"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="@item4.Name">@item4.Name</label>
                        </div>

                    }
                    <input type="submit" name="submit" value="Verzend">
                </form>
            </div>
            <div class="modal-footer text-muted">
                <span id="answer"></span>
            </div>
        </div>
    </div>
</div>